{{#partial "contenido"}}
    <div class="login-form acept">
        <h2 style="padding: 10px 0px 10px 5px;">Aceptacion de Vinculación de Trabajadores</h2>
        {{#each solicitudes}}
            <div class="row row-cols-1 row-cols-md-1 mb-1">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Solicitud NRO {{ id }}</h4>
                        </div>
                        <div class="card-body" style="padding: 0px 1rem 1rem 1rem;">
                            <ul class="list-unstyled mt-3 mb-4 text-left">
                                <li>Nombre: {{ miembro.nombre }}</li>
                                <li>Apellido: {{ miembro.apellido }}</li>
                                <li>Nro de Documento: {{ miembro.numeroDeDocumento }}</li>
                                <li>ID sector: {{ sector.id }}</li>
                                <li>Motivo: {{ motivo }}</li>
                            </ul>
                            <div class="row justify-content-rigth">
                                <div class="col-2 offset-md-8">
                                    <button type="button" class="boton-aceptar">Aceptar</button>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="boton-rechazar">Rechazar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="row row-cols-1 row-cols-md-1 mb-1">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Solicitud NRO#</h4>
                    </div>
                    <div class="card-body" style="padding: 0px 1rem 1rem 1rem;">
                        <ul class="list-unstyled mt-3 mb-4 text-left">
                            <li>Nombre:</li>
                            <li>Apellido:</li>
                            <li>Nro de Documento:</li>
                            <li>Sector:</li>
                            <li>Motivo:</li>
                        </ul>
                        <div class="row justify-content-rigth">
                            <div class="col-2 offset-md-8">
                                <button type="button" class="boton-aceptar">Aceptar</button>
                            </div>
                            <div class="col-2">
                                <button type="button" class="boton-rechazar">Rechazar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}