{{#partial "form"}}
  <div class="content">
    <form action="/user/admin/reportes/composicion" method="GET">
      <div class="row justify-content-left" style="margin: 15px 0px 15px 0px;">
          <div class="col-md-9 text-start d-flex" style="padding-left: 0px">
              <h5>Seleccione tipo de entidad: </h5>
              <div class="d-md-flex ms-1">
                <div class="form-check mx-1">
                    <input class="form-check-input" type="radio" name="tipo-entidad" id="organizacion" onclick="modificarSelectOrg(this)" value="organizacion" required>
                    <label class="form-check-label" for="organizacion">
                        Organización
                    </label>
                </div>
                <div class="form-check mx-1">
                    <input class="form-check-input" type="radio" name="tipo-entidad" id="sector" onclick="modificarSelectOrg(this)" value="sector" required>
                    <label class="form-check-label" for="sector">
                        Sector Territorial
                    </label>
                </div>
              </div>
          </div>
          <div class="col-md-3 p-0 d-flex">
              <select class="form-select ms-auto" id="entidad" name="entidad" required disabled>
                <option hidden disabled selected value="" n>Seleccione una Entidad:</option>
                {{#each organizaciones}}
                <option value="{{ id }}">{{ razonSocial }}</option>
                {{/each}}
              </select>
          </div>
      </div>
      <div class="row" style="margin: 15px 0px 15px 0px;">
          <div class="col-md-4 text-start d-flex" style="padding-left: 0px">
              <h5>Seleccione periodicidad:</h5>
              <div class="d-md-block d-sm-flex m-1">
                <div class="form-check mx-sm-1">
                    <input class="form-check-input" type="radio" name="periodicidad" id="anual"  value="anual" onclick="modificarPeriodo(this)" required>
                    <label class="form-check-label" for="anual">
                        Anual
                    </label>
                </div>
                <div class="form-check mx-sm-1">
                    <input class="form-check-input" type="radio" name="periodicidad" id="mensual" value="mensual" onclick="modificarPeriodo(this)" required>
                    <label class="form-check-label" for="mensual">
                        Mensual
                    </label>
                </div>
              </div>
          </div>
          <div class="col-md-8 d-sm-flex d-block justify-content-between">
            <div class="d-flex m-0 align-items-center">
              <label class="form-label m-0" for="anio"><h5 class="m-0">Año:</h5></label>
              <input type="number" min="1" max="2022" id="anio" name="anio" class="form-control ms-auto p-1" style="width: 75%;" required/>
            </div>
            <div class="d-flex m-0 align-items-center mes-container">
              <label class="form-label m-0" for="mes"><h5 class="m-0">Mes:</h5></label>
              <input type="number" min="1" max="12" id="mes" name="mes" class="form-control ms-auto p-1" style="width: 75%;" required/>
            </div>
            <div class="d-flex m-0 align-items-center">
              <label for="unidad" class="form-label m-0"><h5 class="m-0">Unidad:</h5></label>
              <select class="form-select ms-auto" id="unidad" name="unidad" style="width: 75%;" required>
                  <option value="0">Gramos</option>
                  <option value="1">Kilogramos</option>
                  <option value="2">Toneladas</option>
              </select>
            </div>
          </div>
      </div>
      <div class="action">
          <button type="submit">Calcular</button>
      </div>
    </form>
  </div>
  <script>
    //con este evento cargo datos del form con URLSearchParams
    window.addEventListener("load", function(event) {
      let params = new URLSearchParams(location.search)
        if(params.has('tipo-entidad')){
            let organizacion = document.getElementById("organizacion")
            let sector = document.getElementById("sector")
            let entidad = document.getElementById("entidad")
            let periodicidadAnual = document.getElementById("anual")
            let periodicidadMensual = document.getElementById("mensual")
            let inputAnio = document.getElementById("anio")
            let inputMes = document.getElementById("mes")
            let unidad = document.getElementById("unidad")
            
            
            if(params.get('tipo-entidad') === "organizacion"){
              modificarSelectOrg(organizacion)
              organizacion.checked=true
              entidad.value = params.get('entidad')
            }else if(params.get('tipo-entidad') === "sector"){
              modificarSelectOrg(sector)
              sector.checked=true
            }
            inputAnio.value = params.get('anio')
            if(params.get('periodicidad') === "anual"){
                modificarPeriodo(periodicidadAnual)
                periodicidadAnual.checked=true
            }else if(params.get('periodicidad') === "mensual"){
                modificarPeriodo(periodicidadMensual)
                inputMes.value = params.get('mes')
                periodicidadMensual.checked=true
            }
            unidad.value = params.get('unidad')
            
            window.history.replaceState({}, '', `${location.pathname}?${params}`);
           // window.history.replaceState({}, '', `${location.pathname}`);
        }
    });
</script>
{{/partial}}

{{#partial "resultado"}}
  {{#if id}}
    <div class="container">
      <h4>Resultado:</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col" id="entidad-tabla">Nombre</th>
            <th scope="col">HC de Mediciones</th>
            <th scope="col">HC de Trayectos</th>
            <th scope="col">Unidad</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{nombreEntidad}}</td>
            <td>{{hcMediciones}}</td>
            <td>{{hcTrayectos}}</td>
            <td>{{unidad}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {{/if}}
{{/partial}}

{{>layoutReporte.hbs}}